<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- Navbar - Barra de navegação -->
<div id="navbar">
    <div class="navbar-container">
        <img src="../../../assets/image/logo.png" alt="Logo home" class="logo">
        <ul class="navbar-items">
            <li class="navbar-item">Login</li>

        </ul>
    </div>
</div>
<section>
    <div class="container">
        <div class="contactInfo">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fas fa-mail-bulk"></i></span>
                    <span>Sahil@gmail.com</span>
                </li>
                <li>
                    <span><i class="fas fa-location-arrow"></i></span>
                    <span>2945, Meadowbrook road <br>
                        Los Angeles, CA <br>
                        90017 </span>
                </li>
                <li>
                    <span><i class="fas fa-phone-alt"></i></span>
                    <span>9876543210</span>
                </li>
                <li>
                    <span><i class="fas fa-sms"></i></span>
                    <span>9876543210</span>
                </li>
            </ul>
            <ul class="sci">
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href=""><i class="fab fa-snapchat-square"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
        <div class="contactForm">
            <h2>Send a Message</h2>
            <div class="formBox w100">
                <div class="inputBox w50">
                    <p type="text" name="name" id="name" required></p>
                    <span>NAME: Dhruv Khunt</span>
                </div>
                <div class="inputBox w50">
                    <p type="email" name="email" id="email" required></p>
                    <span>DhruvKhunt06@gmail.com</span>
                </div>


                <!-- <div class="inputBox w100 ">
                    <p type="number" name="phone" id="phone" required>
                        <span>+91 6954123526</span>
                </div> -->

                <div class="inputBox w100">
                    <p rows="4" cols="50" name="data" id="data" required></p>

                    <span><br>
                        <p>ADDRESS:</p>2945, Meadowbrook road
                        Los Angeles, CA
                        90017
                    </span>
                    <span></span>
                </div>

                <div class="inputBox w100">
                    <p rows="4" cols="50" name="data" id="data" required></p>

                    <span>
                        <br><br><br>
                        <p>Mobile Number:</p>+91
                        7069454545
                    </span>
                    <span></span>
                </div>
                <div class="inputBox w100">
                    <p type="submit" name="submit" id="submit" value="Submit" required></p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="footer-content">
        <img src="../../../assets/image/logo.png" alt="Logo home" class="logo">
        <ul class="footer-menu">
            <p>About Us</p>
            <p>Contact Us</p>
        </ul>

        <ul class="footer-menu">
            <p>Company</p>
            <li class="footer-menu-item">Press & Media</li>
            <li class="footer-menu-item">Investor Relations</li>
            <li class="footer-menu-item">Customer Relations</li>
            <li class="footer-menu-item">Sitemap</li>
            <li class="footer-menu-item">Careers</li>
        </ul>

        <ul class="footer-menu">
            <p>Support</p>
            <li class="footer-menu-item">Help Center</li>
            <li class="footer-menu-item">Hire a Professional</li>
            <li class="footer-menu-item">Report Abuse</li>
            <li class="footer-menu-item">System Status</li>
        </ul>
    </div>

    <div class="footer-info">
        <ul class="footer-info-items">
            <li class="footer-info-item">Legal</li>
            <li class="footer-info-item">Terms of Use</li>
            <li class="footer-info-item">Privacy Policy</li>
            <li class="footer-info-item">Cookies</li>
        </ul>

        <div class="rights">
            <div class="country">
                <p>India</p>
                <img src="../../../assets/image/indian-flag.jpg" alt="India" class="brazil-flag">
            </div>
        </div>
    </div>
</footer>