<div class="container-fluid p-3 m-1">
  <!-- ============= breadCrumbs And Title ================= -->
  <div>
    <h1 style="font-size: 25px">Investor</h1>
    <app-breadcrumbs [data]="myBreadCrumbs"></app-breadcrumbs>
  </div>

  <div class="card shadow p-3 mt-4">
    <div
      class="container-fluid"
      style="display: flex; justify-content: space-between"
    >
      <h1>Investment Requests</h1>
    </div>

    <div class="p-3 mb-3">

      <table class="table p3 mb-3" style="margin: 10px;">
        
        <thead  style="background-color:aliceblue; height: 30px;align-items: center;justify-content: center;">
          <td>
            <b> # </b>
          </td>
          <td>
            <b> Investor Name </b>
          </td>
          <td>
            <b>Amount To Invest </b>
          </td>
          <td>
            <b>Project To Invest </b>
          </td>
          <td colspan="2">
            <b> Action </b>
          </td>
        </thead>
        <br>
        <tbody>
          <tr *ngFor="let projectInvestor of projectInvestors;let i = index">
            <td> {{ i+1 }} </td>
            <td> {{ projectInvestor.investor.name }} </td>
            <td> {{ projectInvestor.investedShare }} </td>
            <td> {{ projectInvestor.project.projectName }} </td>
            <td> <button class="btn btn-outline-success" (click)="acceptInvestmentRequest(projectInvestor.investorProjectId)" > Accept </button></td>
          </tr>
        </tbody>

      </table>

    </div>
    
  </div>

  <!-- ============= Tables ================= -->
  <app-table
    [TableName]="InvestorName"
    [TableAction]="InvestorAction"
    [TableKeys]="InvestorKeys"
    [TableValue]="InvestorValue"
    [RowAction]="InvestorRowAction"
  ></app-table>

</div>
