<header class="p-3 mb-3 fixed-top">

  <div>
      <span (click)="sidebarToggle()" data-bs-toggle="offcanvas" href="#offcanvasScrolling" role="button" aria-controls="offcanvasScrolling"> 
        <i class="bi bi-menu-button-wide-fill" style="font-size: 35px; margin-right: 20px;"> </i>
      </span>
  </div>

  <div>
    <a routerLink="" class="nav-link" style="font-size: 30px;font-family:'Dancing Script','Times New Roman', Times, serif;"> Project Management </a>
  </div>

  <div>

    <div class="dropdown text-end">

      <button class="btn btn-outline-danger" (click)="Logout()"> Logout </button>

    </div>

  </div>

</header>