<header class="p-3 mb-3 fixed-top back-ground-color">


  <!-- <div class="logo-holder logo-1 logo-2">
    <a routerLink="" class="nav-link">
      <img  class="logo-img" src="assets/image/header_logo.png" alt="">
      <span> Project Management System </span>
    </a>
  </div> -->

  <div class="logo-holder logo-1 logo-2">
    <a routerLink="" class="nav-link">
      <img style="height: 60px;" class="logo-img" src="assets/image/header_logo.png" alt="">
      <span style="font-weight: 400;"> Project Management System </span>
    </a>

  </div>

  <div>

    <div class="dropdown text-end">

      <button class="btn btn-outline-danger" (click)="Logout()"><i class="bi bi-box-arrow-left"></i> Logout </button>

    </div>

  </div>

</header>