#project-card-main{
    margin-top: 10px;
}

#project-card-main:hover{
    background-color:#5c95e0;
    color: white;
}

#project-description{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.align-center{
    align-items: center
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.border-left-5{
    border-left: 5px green solid
}