<div class="container-fluid">
    <div class="card shadow p-3 mb-3">
        <h1> Project's list </h1>

        <div class="border border-success p-3 mb-3">

            <table class="table p3 mb-3">
                <thead>
                    <td> <b> ID </b></td>
                    <td> <b> Project Name </b> </td>
                    <td> <b> Project Status </b> </td>
                    <td> <b> Project Actions </b></td>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td> {{ item.id }} </td>
                        <td> {{ item.name }} </td>
                        <td> {{ item.status }} </td>
                        <td> {{ item.action }} </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="card shadow p-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">Project's Chart</h5>
    
          <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>
        </div>
    </div>
</div>