<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- Navbar - Barra de navegação -->
<div id="navbar">
    <div class="navbar-container">
        <!-- <img src="../../../assets/image/b.jpg" alt="Logo home" class="logo"> -->
        <h1>About Us</h1>
        <ul class="navbar-items">
            <li class="navbar-item">Login</li>

        </ul>
    </div>
</div>

<!-- Showcase - Mostruário -->
<div id="showcase">
    <div class="showcase-container">
        <h2 style="margin-top: 10%;">We Are There for You Along the Way</h2>
        <!-- <h2><img src="../../../assets/image/logo.png" alt="Logo home" class="width"></h2> -->
        <p style="margin-left: 15%;margin-right: 15%; margin-top: 5%;">We are committed to reaching out to you and
            customizing the
            experience for your business’ needs. We take into consideration your preferences and always provide the most
            relevant news and updates to keep you informed, as well as suggest tenders on your dashboard that are
            similar to what you’ve already expressed interest in. Our dedicated, expert sales team is always looking to
            find the best solution for your needs, from helping you choose the most optimal subscriber plan to creating
            a custom plan all together. Assistance is always available along the way.</p>
        <h2 style="margin-top: 5%;">Our Vision</h2>
        <!-- <h2><img src="../../../assets/image/logo.png" alt="Logo home" class="width"></h2> -->
        <p style="margin-left: 15%;margin-right: 15%; margin-top: 5%;">In the next few years, our vision is to operate
            as a group of
            companies
            headquartered in San Francisco and become USA incorporated in the name of Tenders2bid International
            Inc. The corporation would operate in 15 countries with offices for regional data collection and
            sales. With our ever-evolving AI ML software, we aim to remain at the forefront of allowing
            businesses and SMEs to concentrate on their growth while we make tendering a breeze. Now with
            offices in Australia, Canada, India, the United Kingdom, and the USA, Tenders2Bid is quickly
            becoming a true global marketplace for tenders and bids.</p>
        <!-- <button class="btn-primary">Obtenha o home Free</button> -->

    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <img src="../../../assets/image/logo.png" alt="Logo home" class="logo">
        <ul class="footer-menu">
            <p>About Us</p>
            <p>Contact Us</p>
        </ul>

        <ul class="footer-menu">
            <p>Company</p>
            <li class="footer-menu-item">Press & Media</li>
            <li class="footer-menu-item">Investor Relations</li>
            <li class="footer-menu-item">Customer Relations</li>
            <li class="footer-menu-item">Sitemap</li>
            <li class="footer-menu-item">Careers</li>
        </ul>

        <ul class="footer-menu">
            <p>Support</p>
            <li class="footer-menu-item">Help Center</li>
            <li class="footer-menu-item">Hire a Professional</li>
            <li class="footer-menu-item">Report Abuse</li>
            <li class="footer-menu-item">System Status</li>
        </ul>
    </div>

    <div class="footer-info">
        <ul class="footer-info-items">
            <li class="footer-info-item">Legal</li>
            <li class="footer-info-item">Terms of Use</li>
            <li class="footer-info-item">Privacy Policy</li>
            <li class="footer-info-item">Cookies</li>
        </ul>

        <div class="rights">
            <div class="country">
                <p>India</p>
                <img src="../../../assets/image/indian-flag.jpg" alt="India" class="brazil-flag">
            </div>
        </div>
    </div>
</footer>