<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- Navbar - Barra de navegação -->
<div id="navbar">
    <div class="navbar-container">
        <img src="../../../assets/image/logo.png" alt="Logo home" class="logo">
        <ul class="navbar-items">
            <li class="navbar-item">Login</li>

        </ul>
    </div>
</div>

<!-- Showcase - Mostruário -->
<div id="showcase">
    <div class="showcase-container">
        <!-- <h1>Project Management</h1>
        <h4>Realestate</h4> -->
        <h2><img src="../../../assets/image/logo.png" alt="Logo home" class="width"></h2>
        <!-- <p>Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.</p>
        <button class="btn-primary">Obtenha o home Free</button> -->
    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <img src="../../../assets/image/logo.png" alt="Logo home" class="logo">
        <ul class="footer-menu">
            <p>About Us</p>
            <p>Contact Us</p>
        </ul>

        <ul class="footer-menu">
            <p>Company</p>
            <li class="footer-menu-item">Press & Media</li>
            <li class="footer-menu-item">Investor Relations</li>
            <li class="footer-menu-item">Customer Relations</li>
            <li class="footer-menu-item">Sitemap</li>
            <li class="footer-menu-item">Careers</li>
        </ul>

        <ul class="footer-menu">
            <p>Support</p>
            <li class="footer-menu-item">Help Center</li>
            <li class="footer-menu-item">Hire a Professional</li>
            <li class="footer-menu-item">Report Abuse</li>
            <li class="footer-menu-item">System Status</li>
        </ul>
    </div>

    <div class="footer-info">
        <ul class="footer-info-items">
            <li class="footer-info-item">Legal</li>
            <li class="footer-info-item">Terms of Use</li>
            <li class="footer-info-item">Privacy Policy</li>
            <li class="footer-info-item">Cookies</li>
        </ul>

        <div class="rights">
            <div class="country">
                <p>India</p>
                <img src="../../../assets/image/indian-flag.jpg" alt="India" class="brazil-flag">
            </div>
        </div>
    </div>
</footer>