<div class="card shadow p-3 mt-4">
    <div class="container-fluid" style="display: flex; justify-content: space-between;">
        <h1> {{ TableName }} </h1>
        <a routerLink=""> <button class="btn btn-outline-info">  {{ tableAction }} </button> </a>
      </div>
      

    <div *ngIf="keys[0]" class="p-3 mb-3" style="overflow-x:auto;">

        <table class="table p3 mb-3">
            <thead style="background-color:aliceblue; height: 30px;align-items: center;justify-content: center;">
                <tr>
                    <td *ngFor="let k of keys[0]"> <b> {{ k }} </b></td>
                    <td colspan="2"> <b> Action </b> </td>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let value of values">
                    <td *ngFor="let v of value"> {{ v }}  </td>
                    <td *ngFor="let action of actions">
                        <a routerLink="/{{action[1]}}/{{value[0]}}"> <button class="btn btn-outline-success">  {{ action[0] }} </button> </a>
                    </td>
                </tr> 
            </tbody>
        </table>

    </div>

    <div *ngIf="!keys[0]" class="p-3 mb-3" style="overflow-x:auto;">
            <h1 style="text-align: center;"> No Data Available </h1>
    </div>

</div>