<div class="container">

    <div>
        <h1> Release Page</h1>
    </div>

    <div>
        <ol>
            <li><a href="admin"> admin </a></li>
            <li><a href="AboutPage">AboutPage</a></li>
            <li><a href="Contact-us">Contact-us</a></li>
            <li><a href="task-details"> Task Details</a></li>
            <li><a href="HomePage">HomePage</a></li>
            <li><a href="login"> login </a></li>
            <li><a href="logins">logins</a></li>
            <li><a href="investor"> investor </a></li>
            <li><a href="contractor"> contractor </a></li>
        </ol>
    </div>

</div>