.row{
    margin: 20px;
}

#allTasks > app-task-card {
    margin: 5%;
    min-width: 100px;
}

#detailsOfProject > div{
    margin-bottom: 20px;
}

.title{
    font-size: 20px
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#space-between{
    justify-content: space-between;
}

.flex-space-between{    
    display: flex;
    justify-content: space-between;
}

@media (max-width: 765px) {
    .desc{
        /* display: none; */
        margin: 10px;
    }
    .saparator{
        display: none;
    }
    .title{
        /* display: none; */
        margin: 10px;
    }
  }