#admin{
    background-color: black;
    width: 350px;
}

.circle{
    position: relative;
    left: -20px;
}

#titles{
    color: aliceblue;
    text-align: center;
    margin: 20px;
}

#info{
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 30px;
    width:800px;
    padding-left: 100px;
}

#mainContect{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}