<app-header id="contect-header" *ngIf="loggedIn()"></app-header>
<section>
    <div id="mainContect" class="container">
        <div id="admin" class="card shadow">
            <h2 id="titles"> ADMIN </h2>
            <ul class="info">
                <div class="circle">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Your Image">
                  </div>
                <li>
            </ul>
        </div>
        <div id="info" class="card shadow">
            <span><br>

                <p>NAME:</p> Manoj Kapure
            </span>
            <span><br>

                <p>EMAIL:</p> manojkapure100@gmail.com

            </span>
            <span><br>

                <p>ADDRESS:</p>2945, Meadowbrook road

                Los Angeles, CA

                90017

            </span>
            <span><br><p>MOBILE NUMBER:</p> +91 6954123526</span>
        </div>
    </div>
</section>