.background-image{
    background-image:url("https://img.freepik.com/premium-vector/real-estate-logo-with-creative-concept-premium-vector_526458-303.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;
}