<p>logins works!</p>
<div class="google-btn">

      <asl-google-signin-button type='standard' shape="rectangular" size='medium' theme="filled_blue"                  
          text="signin_with" locale="en-GB" size="large" logo_alignment="left" (signIn)="getAccessToken()">




                        </asl-google-signin-button>


                        <button mat-raised-button class="btn" (click)="signOut()">


                                Login With Google

                            </button>



</div>