<br><button style="position: absolute;right: 30px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#investMoney"> New Investment </button><br><br>
<div id="main">
    
    <div id="not-start" class="col-sm-3 card">
          <h2> Not Start Yet </h2>
        <div *ngFor="let id of notStart">
           <app-project-card [id]="id"> </app-project-card>
        </div>
    </div>
  
    <div id="in-progress"  class="col-sm-3 card">
       <h2> In Progress </h2>
       <div *ngFor="let id of inProgress">
          <app-project-card [id]="id"> </app-project-card>
       </div>
    </div>
  
    <div id="done"  class="col-sm-3 card">
       <h2> Done </h2>
       <div *ngFor="let id of done">
        <app-project-card [id]="id"> </app-project-card>
     </div> 
       
    </div>
  
</div>

<!-- ============== model ================== -->
<div class="modal fade" id="investMoney" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content container-fluid">

      <div class="modal-header"> <h2 class="modal-title" style="font-size: 20px"> New Investment  </h2> <button   type="button"   class="btn-close"   data-bs-dismiss="modal"   aria-label="Close"> </button>
      </div>

      <div class="modal-body container-fluid row" style="align-items: center">
        <div style="display: flex;flex-wrap: wrap;justify-content:space-between;flex-direction: column;">      
         
         <form #myFormData="ngForm" (ngSubmit)="invest(myFormData)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Choose Project</label>
              <select class="form-select" ngModel formControllName="projectid" name="projectid">
                  <option *ngFor="let project of notInvestedProject" value="{{project.projectId}}"> {{ project.projectName }} - {{ project.projectTypeName }} - {{ project.projectLocation.area }}-{{ project.projectLocation.city }}-{{ project.projectLocation.state }} </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" >Amount To Invest</label>
              <input type="number" ngModel class="form-control" formControllName="amount" name="amount">
            </div>
            <button type="submit" class="btn btn-primary container" data-bs-dismiss="modal" aria-label="Close">Invest</button>
          </form>

        </div> 
      </div><br><br>

    </div>
  </div>
</div>
  