#task-card-main{
    margin-top: 10px;
    max-width: 300px;
}

#task-card-main:hover{
    background-color:rgb(248, 248, 234);
    /* color: white; */
    /* border-left: 5px #1772eb solid */
}

#task-description{
    display: flex;
    justify-content: space-between;
}

.background-orange{
    background-color: orangered;
    font-size: larger;
    color: white;
}

.background-red{
    background-color: red;
    font-size: larger;
    color: white;
    max-width: 300px;
}

.border-left-5{
    border-left: 5px green solid
}

.align-center{
    align-items: center
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}