<div id="sideContent" style="z-index: 1;" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  
  <div class="offcanvas-body mt-5">

    <ul class="nav nav-pills flex-column mb-auto p-3">

      <li>
        <a routerLink="dashboard" class="nav-link link-dark nav-active" routerLinkActive="active">
            <i class="bi bi-house" width="16" height="16"></i>
          Dashboard
        </a>
      </li>

      <li>
        <a routerLink="investorDetail" class="nav-link link-dark" routerLinkActive="active">
            <i class="bi bi-house" width="16" height="16"></i>
          Investor
        </a>
      </li>

      <li>
        <a routerLink="contractorDetail" class="nav-link link-dark" routerLinkActive="active">
            <i class="bi bi-house" width="16" height="16"></i>
          Contractor
        </a>
      </li>

    </ul>

  </div>

</div>
