<div class="card shadow p-3 mt-4">
    <div class="container-fluid" style="display: flex; justify-content: space-between;">
        <h1 contenteditable="true"> {{ TableName }} </h1>
        <a> <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#create">  {{ tableAction }} </button> </a>
      </div>
      

    <div *ngIf="keys[0]" class="p-3 mb-3" style="overflow-x:auto;">

        <table class="table p3 mb-3">
            <thead style="background-color:aliceblue; height: 30px;align-items: center;justify-content: center;">
                <tr>
                    <td *ngFor="let k of keys[0]"> <b> {{ k }} </b></td>
                    <td colspan="2"> <b> Action </b> </td>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr *ngFor="let value of values">
                    <td *ngFor="let v of value"> {{ v }}  </td>
                    <td *ngFor="let action of actions">
                        <a routerLink="/{{action[1]}}/{{value[0]}}"> <button class="btn btn-outline-success">  {{ action[0] }} </button> </a>
                    </td>
                </tr> 
            </tbody>
        </table>

    </div>

    <div *ngIf="!keys[0]" class="p-3 mb-3" style="overflow-x:auto;">
            <h1 style="text-align: center;"> No Data Available </h1>
    </div>

    <div>

    </div>

</div>

<!-- ============== model ================== -->
<div class="modal fade" id="create" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 20px;"> Edit </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
  
          <form (submit)="create()">
  
            <div class="mb-3" *ngFor="let title of keys[0];let i = index">
              <label for="{{ title }}" class="col-form-label">{{ title }}:</label>
              <input type="text" class="form-control" [(ngModel)]="formData[title]" [ngModelOptions]="{ standalone: true }"/>
            </div>
  
            <div>
              <button type="submit" class="btn btn-success container-fluid" data-bs-dismiss="modal" aria-label="Close"> Submit </button>
            </div>
  
          </form>
  
        </div>
  
      </div>
    </div>
  </div>